/*Reset http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,  sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object { display:block; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
abbr[title], dfn[title] { border-bottom:1px dotted #ccc; cursor:help; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
cite {font-style:normal; }
:focus { outline: 0; }
abbr, acronym { cursor : help; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
th, td { vertical-align: top; }

#featured img,
.work img,
 object, video { border:0; max-width:100%; }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }

/*font colour*/
@fontblack: #231F20;
@fontwhite: #ffffff;

.fontnormal { font-family:"Monosten E", Courier, monospace; font-size-adjust:0.5; font-weight:normal; font-style:normal; }
.fontbold { font-family:"Monosten E", Courier, monospace; font-size-adjust:0.5; font-weight:bold; font-style:normal; }
.linklinewhite {background:url(../img/ornate/linewhite.jpg) 0 100% repeat-x;}
.linklineblack {background:url(../img/ornate/lineblack.jpg) 0 100% repeat-x;}

/*html body*/
html {-webkit-text-size-adjust:none; }
body { font-size:21px; line-height:27px; /*(21px/27px)*/ .fontnormal; color:@fontblack; padding:100px 0 80px 0; }

#black,
#infooverlay { background:#000; color:#fff;}
#infooverlay { background:rgba(0,0,0,.8); }
/*.overlayON { background:#000; background:rgba(0,0,0,.8);}*/

#black a,
#infooverlay a { color:@fontwhite;}
.lead { margin-top:70px;}
.metatext { font-size:15px; line-height:21px; }

/*headings*/
h1,h2,h3,h4,h5,h6 { .fontnormal; }

/*Type/Lists*/
::-webkit-selection { background:#231F20; color:#fff; }
::-moz-selection { background:#231F20; color:#fff; }
::selection { background:#231F20; color:#fff; }

#black ::-webkit-selection { background:#fff; color:#231F20; }
#black ::-moz-selection { background:#fff; color:#231F20; }
#black ::selection { background:#fff; color:#231F20; }
#infooverlay ::-webkit-selection { background:#fff; color:#231F20; }
#infooverlay ::-moz-selection { background:#fff; color:#231F20; }
#infooverlay ::selection { background:#fff; color:#231F20; }

ol, ul, dl, p { margin-bottom:27px;}
.maincontent ul { list-style:disc inside; padding:0 0 0 10px; }
.maincontent ol { list-style:decimal inside; padding:0 0 0 10px; }
.maincontent ul li,
.maincontent ol li { padding-left:5px; }
dt, th { font-weight:bold; }
dd { margin:0; font-weight:normal; }
em { font-style:normal;}

a { font-weight:normal; text-decoration:none; cursor:pointer; color:@fontblack;}
a:hover { .linklineblack; }
#black a:hover,
#infooverlay  a:hover { .linklinewhite; }

.maincontent p a {/*.fontbold;*/}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
a h1, a h2, a h3, a h4, a h5, a h6 { }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 { }

/*Layout*/
.wrapper { position:relative; margin:0 auto; clear:both; height:1%; padding:0; max-width:1800px; }
.wrapper:after { content: "."; display:block; clear:both; width:0; height:0; visibility:hidden; }

#branding { height:auto; position:relative; margin:0 20px 90px 20px; }
.logo {margin:0; }
.logo a:hover { background:none;}
.logo a span:hover { .linklineblack;}
#black .logo a span:hover,
#infooverlay .logo a span:hover { .linklinewhite; }
.logo p,
#base p { margin-bottom:0;}
.logo .shop.large {float:right;}
/*.logo p { display:inline-block; margin:0;}*/
#name { display:inline-block;}
.logo #strap { display:block; float:none;}


#navmobile p { margin-bottom:0;}
#navmobile p span { display:block;}
/*#navmobile .navigation li span.divide { padding:0 10px;}*/
.navigation { margin:0;}
.navigation li { list-style:none;}
.navigation li a:hover,
.navigation li.active a,
.logo span a:hover { .linklineblack; }
#black .navigation li a:hover,
#infooverlay  .navigation li a:hover,
#black .navigation li.active a,
#infooverlay  .navigation li.active a,
#black span a:hover,
#infooverlay span a:hover, { .linklinewhite; }

p.nmtitle { margin:17px 0!important;}

/*.workdetail .navigation li.active a { padding-left:65px; background:url(../img/ornate/lineblack.jpg) 0 12px no-repeat ; }*/
/*#black .workdetail .navigation li.active a,
#infooverlay .workdetail .navigation li.active a { padding-left:65px; background:url(../img/ornate/linewhite.jpg) 0 12px no-repeat; }*/
/*.workdetail .navigation li.active a em {.linklineblack;}*/
/*#black .workdetail .navigation li.active a em,
#infooverlay .workdetail .navigation li.active a em {.linklinewhite;}*/
.workdetail .navigation li .info a,
#black .workdetail .navigation li .info a,
#infooverlay .workdetail .navigation li .info a  { padding:0 5px; background:none;}
.workdetail .navigation li .info a:hover,
.shop a:hover,
.shop a.active:hover {.linklineblack;}
#black .workdetail .navigation li .info a:hover,
#infooverlay .workdetail .navigation li .info a:hover {.linklinewhite;}
.navigation li span.info { padding:0; display:block;}
.navigation li span.info span { padding-left:0; display:none;}
.navigation li span.title { padding-left:0; display:block;}

/*.navigation.navdetail { margin-bottom:3px;}*/

.maincontent { position:relative; overflow:hidden; zoom:1; padding:0; margin:0 20px; }
.maincontent h2 {margin-bottom:17px; padding-bottom:17px; background:url(../img/bg/dashes-white.gif) 0 100% repeat-x;}
.maincontent h2 em { padding-left:65px; background:url(../img/ornate/lineblack.jpg) 0 12px no-repeat; display:inline-block;}
.maincontent h2 span.worktitle { padding:0;}
#black .maincontent h2 em,
#infooverlay .maincontent h2 em {background:url(../img/ornate/linewhite.jpg) 0 12px no-repeat; display:inline-block;}
.maincontent h2 span { padding:0 10px;}

.item { float:left; height:100%; position:relative; text-align:left; margin:0 0 14px 0; /*background:#ccc;*/}
.item .itemhold { position:relative; height:100%; float:left; }
.item .cover { height:100%; text-indent:-99999px; }
.item a:hover .cover { background:#000; }
.item div {position:absolute; height:100%; color:#fff; bottom:0; left:0; text-align:left; vertical-align:baseline; }
.item p { margin:0; padding:0 20px 0 0; position:absolute; left:20px; bottom:13px; color:#fff; display:none; font-size:15px; line-height:21px; font-family:"Monosten A", Courier, monospace; }
.item a {text-decoration:none!important; }
.item a:hover p { display:block;}

.maincontent #share,
#content #share { list-style:none; margin:0 0 27px 0; padding:0; width:100%; clear:both; float:left; }
.maincontent #share li,
#content #share li { display:inline-block; float:left; padding:0; margin-right:20px;}

/*#navmobile .navigation.navdetail .title span.number { display:inline;}*/

#screengradient,
#tips,
.overlayON #slideshow-large,
.navdetail { display:none;}
/*.pageleft,
.pageright { width:50%; float:left; height:300px;}
.arrow a {position:absolute; width:75px; height:75px; top:150px; text-indent:-99999px; background-position:0 0; background-repeat:no-repeat; cursor:pointer; display:block; display:none;}
.arrow.left a {background-image:url(../img/ornate/arrow-left.png); left:0;}
.arrow.right a {background-image:url(../img/ornate/arrow-right.png); right:0;}
.pageleft:hover .arrow.left a,
.pageright:hover .arrow.right a, { display:inherit;}
*/

@media only screen and (min-width:1px) {
#navmain,
.logo .shop.large,
.logo .time { display:none;}
#branding,
.maincontent,
#slideshow-mobile { margin-left:20px; margin-right:20px;}
.item.wrapme .itemhold:first-child { margin-right:14px;}

.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:100%; }

.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:100%; }
/*#navmobile .navigation.navdetail .title span { display:block;}*/

}

@media only screen and (min-width:1px) and (max-width:480px)  {
body { padding:44px 0 0 0; }
/*.wrapper {margin:0 10px;}*/
#featured .wrapper { width:100%; margin:0; }

.item { margin:0 0 20px 0; }
.item.wrapme .itemhold { width:46%; }
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:100%;}
.item.wrapme .itemhold:first-child { margin-right:8%;}
.item .cover,
.item p,
.item a:hover p,
.contactmain { display:none;}

.contactmobile { display:inline-block;}
#branding,
.maincontent,
#slideshow-mobile { margin-left:20px; margin-right:20px; margin-bottom:50px;}
}
@media only screen and (min-width:481px) {

#featured .wrapper { width:341px; /*background:pink;*/ }
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:341px; }

.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:163px; }
.item.wrapme .itemhold:first-child { margin-right:15px;}
#branding,
#branding.workdetail,
.maincontent,
.contentpage #branding,
.contentpage .maincontent,
#slideshow-mobile { margin-left:50px; margin-right:50px;}

.contactmain { display:inline-block;}
.contactmobile { display:none;}
}
@media only screen and (min-width:580px) {
#featured .wrapper { width:450px; /*background:blue;*/ }
.item.wrapme .itemhold:first-child { margin-right:14px;}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:450px; }

.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:218px; }

}
@media only screen and (min-width:665px) {
#featured .wrapper { width:550px; /*background:green;*/ }
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:550px; }

.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:268px; }

.divide,
.navigation li span { padding:0 10px;}
#base { display:block; float:left; clear:both;}

.navigation { margin:0; padding:0; height:auto; overflow:hidden; zoom:1; clear:both; }
.navigation li { list-style:none; margin:0; padding:0; display:block; float:none; }
.contentpage #branding,
.contentpage .maincontent,
#slideshow-mobile { margin-left:100px; margin-right:100px;}
}

@media only screen and (min-width:840px)  {
#featured .wrapper { width:714px; /*background:pink;*/ }
.item { margin-left:7px; margin-right:7px;}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:224px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:105px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:135px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:284px;}
}

@media only screen and (min-width:840px) and (max-width:1079px)  {
.item.wrapme .cover,
.item.wrapme p,
.item.wrapme a:hover p { display:none;}
}

@media only screen and (min-width:990px)  {
#featured .wrapper { width:804px; /*background:orange;*/}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:254px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:120px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:154px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:322px;}
}
/*@media only screen and (min-width:1020px) {
.wrapper { width:834px; background:yellow;}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:264px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:125px; }
}
*/@media only screen and (min-width:1080px) {
#featured .wrapper { width:894px; /*background:#ccc;*/ }
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:284px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:135px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:173px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:360px;}
.logo .shop.large { display:block;}
.shop.small { display:none;}
.navigation li span.title { display:inline; padding-right:0;}
}
@media only screen and (min-width:1200px) {
#featured .wrapper { width:1014px; /*background:deepskyblue;*/}

.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:324px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:155px; }

.logo .shop { display:block;}

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:199px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:412px;}

}
@media only screen and (min-width:1320px) {
#featured .wrapper { width:1134px; /*background:deepskyblue;*/}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:364px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:175px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:224px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:462px;}

.navigation li span.info { display:inline; }
.navigation li span.info span { display:inline-block;}

}
@media only screen and (min-width:1400px) {
#featured .wrapper { width:1214px; /*background:deepskyblue;*/}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:390px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:188px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:241px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:496px;}
}

@media only screen and (min-width:1520px) {
#featured .wrapper { width:1334px; /*background:peru;*/}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:430px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:208px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:266px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:546px;}
}
@media only screen and (min-width:1640px) {
#featured .wrapper { width:1454px; /*background:thistle;*/}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:470px; }

.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:228px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:292px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:598px;}
}
@media only screen and (min-width:1788px){
#featured .wrapper { width:1602px; /*background:firebrick;*/}
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:520px; }
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:253px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:323px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:660px;}

}
@media only screen and (min-width:1880px){
#featured .wrapper { width:1694px; }
.item,
.item.portrait-large .cover,
.item.portrait-large .itemhold a img,
.item.landscape .cover,
.item.landscape .itemhold a img { width:550px; }

.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { width:268px; }

.item.landscape .cover,
.item.landscape .itemhold a img,
.item.wrapme .itemhold,
.item.wrapme .cover,
.item.wrapme .itemhold a img { height:342px;}
.item.portrait-large .cover,
.item.portrait-large .itemhold a img { height:698px;}
}

/*menu width (attention to detail) overrides*/
@media only screen and (min-width:481px) {
p.time.small { display:block; margin:0;}
.divide.first { display:none;}
}

@media only screen and (min-width:570px) {
.logo p br { display:none;}
}

@media only screen and (min-width:665px) {
#branding.workdetail.first { margin-left:100px; margin-right:100px;}

}
@media only screen and (min-width:840px) {
#base .time { display:none;}
.logo .time { display:inline-block;}
}
@media only screen and (min-width:850px) {
.logo #strap { float:left;}
.logo #name { display:inline-block;}
.logo #name,
.logo .divide { float:left;}
.divide.first { display:inline-block;}
}
/*override for slideshow 100% width*/
@media only screen and (min-width:840px) and (max-width:940px) {
/*.wrapper { background:#ccc; }*/
#base .time { display:block; margin:0;}
.logo .time { display:none;}
}

@media only screen and (min-device-width:0) and (max-device-width:500px) and (orientation:portrait) {
.maincontent h2 span { display:inline-block;}
/*.workdetail .navigation li.active a,*/
/*#black .workdetail .navigation li.active a,
#infooverlay .workdetail .navigation li.active a,*/
.maincontent h2 em,
#black .maincontent h2 em,
#infooverlay .maincontent h2 em { padding-left:45px; background-position:-25px 12px; }
.workdetail .navigation li .info a,
#black .workdetail .navigation li .info a,
#infooverlay .workdetail .navigation li .info a,
.maincontent h2 span.space { padding:0;}
.maincontent h2 span.worktitle { padding:0; display:block;}
}
@media only screen and (min-device-width:0) and (max-device-width:500px) and (orientation:landscape) {
#navmain { display:block;}
p.time.small { margin:0;}
.logo p br,
.divide, 
#navmobile { display:none;}

.divide, 
.navigation { clear:both; height:auto; margin:0; overflow:hidden; padding:0; }
.navigation li { display:inline-block; float:left;}
.navigation li span { padding:0 10px;}
.navigation span { display:inline-block; }
.counter { display:block; padding-left:0; }
.item.portrait-large .itemhold a img,
.item.landscape .itemhold a img { width:440px;}
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
/*slideshow display overrides*/
@media only screen and (min-width:1px) and (max-width:760px) {
#slideshow-large,
#supersized,
.navigation span.counter,
.overlayON #slideshow-mobile,
.overlayON #branding.workdetail.first { display:none!important;}
/*.overlayON { padding-top:0; padding-bottom:0;}
.overlayON #branding.workdetail { padding-top:100px;}*/
.overlayON { background:#000; }
/*body { background:#fff!important;}*/

/*#slideshow-mobile { background:#ccc; margin-left:20px; margin-right:20px; padding:0;}*/


#slideshow-mobile ul { margin:0; padding:0; }
#slideshow-mobile ul li { display:block; margin-bottom:27px;}
}
@media only screen and (min-width:761px) {
.navigation li {float:left; display:inline-block;}
.navigation span { display:inline-block;}

#navmobile { display:none;}
#navmain { display:block; /*background:red;*/}

#screengradient {position:absolute; top:0; left:0; width:100%; height:50%; background:url(../img/bg/test.png) 0 0 repeat-x; background-size:100% 100%; display:block; z-index:-1; text-indent:-99999px;}
.no-svg #screengradient {background:url(../img/bg.png) 0 0 repeat-x;}

#branding { z-index:2;}
#tips { height:100%; width:100%; margin:0 auto; display:block; position:absolute; top:0; left:0; z-index:3;}
#tips table { width:596px; text-align:center; vertical-align:middle; height:100%; margin:0 auto; }
#tips table td { vertical-align:middle; }
#circle { width:496px; height:393px; position:relative; background:url(../img/bg/tip.png) 50% 50% no-repeat; padding:203px 50px 0 50px;}

/*#slideshow-large { display:block; max-width:1800px; margin:0 auto; position:relative; height:80px; background:red;}*/
#slideshow-large { height:100%; width:100%; margin:0 auto; display:block; position:absolute; top:0; left:0; z-index:1; }
#slideshow-large table { width:100%; text-align:center; vertical-align:middle; height:100%; margin:0 auto; }

#nextslide{ right:100px; background:url(../img/slideshow/arrow-right.png) 0 0 no-repeat; }
#prevslide{ left:100px; background:url(../img/slideshow/arrow-left.png) 0 0 no-repeat; }
#slideshow-large #nextslide:hover { text-decoration:none; background:url(../img/slideshow/arrow-right.png) 0 -75px no-repeat; }
#slideshow-large #prevslide:hover { text-decoration:none; background:url(../img/slideshow/arrow-left.png) 0 -75px no-repeat; }

#nextslide.double { background:url(../img/slideshow/arrow-right-double.png) 0 0 no-repeat; }
#prevslide.double { background:url(../img/slideshow/arrow-left-double.png) 0 0 no-repeat; }
#slideshow-large #nextslide.double:hover { background:url(../img/slideshow/arrow-right-double.png) 0 -75px no-repeat; }
#slideshow-large #prevslide.double:hover {background:url(../img/slideshow/arrow-left-double.png) 0 -75px no-repeat; }

.detailwrap {}
.navdetail { display:block; margin:17px 0; float:left; clear:both; }
.navdetail #loading { float:left; overflow:hidden; zoom:1; background-position:0 0; background-repeat:repeat-x; background-image:url(../img/bg/dashes-black.gif); padding-top:17px;}
#black .navdetail #loading { background-image:url(../img/bg/dashes-white.gif);}
.navdetail p { float:left; margin:0 20px 0 0;}
.navdetail ul { float:left; list-style:none; margin:0 20px 0 0; padding:0;}
.navdetail ul li { display:inline-block; float:left; width:20px; font-size:28px; line-height:24px; text-align:center;}
.navdetail ul li a { display:inline-block; width:20px;}
.navdetail .expand { display:inline-block; float:left; width:80px; line-height:27px; }
.navdetail .expand a { display:inline-block; float:left; padding-left:20px; }

.detailwrap.open .expand  { background:url(../img/ornate/nav-up-black.png) 0 50% no-repeat; }
.no-svg .detailwrap.open .expand { background:url(../img/ornate/nav-up-black.png) 0 50% no-repeat;}
.detailwrap.closed .expand { background:url(../img/ornate/nav-down-black.png) 0 50% no-repeat; }
.no-svg .detailwrap.closed .expand {background:url(../img/ornate/nav-down-black.png) 0 50% no-repeat;}
#black .detailwrap.open .expand  { background:url(../img/ornate/nav-up-white.png) 0 50% no-repeat; }
.no-svg #black .detailwrap.open .expand { background:url(../img/ornate/nav-up-white.png) 0 50% no-repeat;}
#black .detailwrap.closed .expand { background:url(../img/ornate/nav-down-white.png) 0 50% no-repeat; }
.no-svg #black .detailwrap.closed .expand {background:url(../img/ornate/nav-down-white.png) 0 50% no-repeat;}


#slideshow-mobile,
p.nmtitle { display:none;}


/*info overlay*/
#infooverlay { width:100%; height:100%!important; /*background:#000; background:rgba(0,0,0,.8);*/ position:fixed; top:0; left:0; overflow-y:scroll!important; }
#infooverlay #branding { margin-top:100px;}
#infooverlay .maincontent { position:relative; overflow:hidden; zoom:1; padding:0; margin:0 100px; padding-bottom:80px; }
#infooverlay #branding.workdetail { margin-left:100px; margin-right:100px;}
* #infooverlay .maincontent .wrapper { width:100%; position:relative; }

#inversetext { color:#fff;}
#inversetext a { color:@fontwhite;}

#inversetext ::-webkit-selection { background:#fff; color:#231F20; }
#inversetext ::-moz-selection { background:#fff; color:#231F20; }
#inversetext ::selection { background:#fff; color:#231F20; }

#inversetext a:hover { .linklinewhite; }
#inversetext .logo a span:hover { .linklinewhite; }
#inversetext .navigation li a:hover 
#inversetext .navigation li.active a 
#inversetext span a:hover { .linklinewhite; }
/*#inversetext .workdetail .navigation li.active a { padding-left:65px; background:url(../img/ornate/linewhite.jpg) 0 12px no-repeat; }*/
/*#inversetext .workdetail .navigation li.active a em {.linklinewhite;}
#inversetext .workdetail .navigation li .info a { padding:0 5px; background:none;}
#inversetext .workdetail .navigation li .info a:hover {.linklinewhite;}*/
#inversetext .maincontent h2 em {background:url(../img/ornate/linewhite.jpg) 0 12px no-repeat; display:inline-block;}
}

@media only screen and (min-width:1px) and (max-width:480px) {
#infooverlay .maincontent h2 em { display:block; }
#infooverlay .maincontent h2 span.space { padding-left:0;}
}